{{#section 'css'}}
<link rel="stylesheet" href="/stylesheets/footer.css">
{{/section}}

<footer>
    <!-- Footer Start-->
    <div class="footer-area footer-padding">
        <div class="container-fluid ">
            <div class="row d-flex justify-content-between">
                <div class="col-xl-3 col-lg-3 col-md-8 col-sm-8">
                    <div class="single-footer-caption mb-50">
                        <div class="single-footer-caption mb-30">
                            <!-- logo -->
                            <div class="footer-logo mb-35">
                                <a href="index.html"><img src="assets/img/logo/logo2_footer.png" alt=""></a>
                            </div>
                            <div class="footer-tittle">
                                <div class="footer-pera">
                                    <p>Cửa hàng nhôm kính Trung chuyên cung cấp, thi công các loại cửa, tủ, kính cường
                                        lực</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4">
                    <div class="single-footer-caption mb-50">
                        <div class="footer-tittle">
                            <h4>Liên Kết Nhanh</h4>
                            <ul>
                                <li><a href="/cua-nhom">Cửa Nhôm</a></li>
                                <li><a href="/kinh-cuong-luc/kinh-cuong-luc">Kính Cường Lực</a></li>
                                <li><a href="/mau-tu/">Mẫu Tủ</a></li>
                                <li><a href="/ke-bep/ke-bep">Kệ Bếp</a></li>
                                <li><a href="/san-pham-khac">Sản Phẩm Khác</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-7 col-md-12 col-sm-4">
                    <div class="single-footer-caption mb-50">
                        <div class="footer-tittle">
                            <h4>liên hệ</h4>
                            <ul>
                                <li>
                                    <a href="tel:0903375086" < i class="fa fa-phone"></i>
                                        Tel: 0903.375.086
                                    </a>
                                </li>
                                <li>
                                    <a href="tel:0387675256" < i class="fa fa-phone"></i>
                                        Tel 2: 0387.675.256
                                    </a>
                                </li>
                                <li><a href="https://www.google.com/maps/place/C%E1%BB%ADa+H%C3%A0ng+Nh%C3%B4m+Ki%E1%BA%BFng+Trung/@11.6553067,106.6031812,18.25z/data=!4m5!3m4!1s0x317354134d54169d:0xe734921031e81bd8!8m2!3d11.6544431!4d106.6056365"
                                        <i class="fa fa-map-marker"></i>
                                        127 Đường Ngô Quyền, Phường An Lộc, Thị Xã Bình Long, Tỉnh Bình Phước
                                    </a>
                                </li>
                                <li>
                                    <div>
                                        <a
                                            href="https://www.facebook.com/C%E1%BB%ADa-H%C3%A0ng-Nh%C3%B4m-K%C3%ADnh-Trung-102153384947717"><i
                                                class="fab fa-facebook fa-lg"></i> Cửa hàng nhôm kính Trung</a>

                                    </div>

                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-xl-12 ">
                    <div class="ggmap">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d976.8906594265603!2d106.60509737578516!3d11.654482503158826!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe734921031e81bd8!2zQ-G7rWEgSMOgbmcgTmjDtG0gS2nhur9uZyBUcnVuZw!5e0!3m2!1svi!2s!4v1598425320185!5m2!1svi!2s"
                            width="80%" height="400px" frameborder="0" style="border:0;" allowfullscreen=""
                            aria-hidden="false" tabindex="0">
                        </iframe>
                    </div>

                </div>


            </div>
        </div>
    </div>
    <!-- footer-bottom area -->
    <div class="footer-bottom-area">
        <div class="container">
            <div class="footer-border">
                <div class="row d-flex align-items-center">
                    <div class="col-xl-12 ">
                        <div class="footer-copy-right text-center">
                            <p>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;
                                <script>document.write(new Date().getFullYear());</script> All rights reserved | This
                                website is made by <a href="#" target="_blank">HKTeam</a> <i class="fa fa-heart"
                                    aria-hidden="true"></i>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End-->
</footer>