{{#section 'css'}}
<link rel="stylesheet" href="/stylesheets/header-top.css">
{{/section}}

<div class="header-top">
    <div class="container">
        <div class="row d-flex flex--center flex--bewwent">
            <div class="col-md-9">
                <ul class="header-top--list">
                        <li>
                         <a href="tel:0903.375.086"><i class="fa fa-phone" ></i>Tel: 0903.375.086</a>
                        <a href="tel:0387675256">
                                        / 0387.675.256
                        </a>
                        </li>
                        
                    <li>
                        <a href="https://www.google.com/maps/place/C%E1%BB%ADa+H%C3%A0ng+Nh%C3%B4m+Ki%E1%BA%BFng+Trung/@11.6553067,106.6031812,18.25z/data=!4m5!3m4!1s0x317354134d54169d:0xe734921031e81bd8!8m2!3d11.6544431!4d106.6056365" style="color: #fff;">
                        <i class="fa fa-map-marker"></i> 
                        
                        127 Đường Ngô Quyền, Phường An Lộc, Thị Xã Bình Long, Tỉnh Bình Phước
                        </a>
                        </li>
                </ul>
            </div>
        </div>
    </div>
</div>