<div id='fb-root'></div>
<script>(function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; js = d.createElement(s); js.id = id; js.src = 'https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js#xfbml=1&version=v2.12&autoLogAppEvents=1'; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));</script>
<div class='fb-customerchat' page_id='102153384947717' theme_color='#44bec7'
    logged_in_greeting='Xin chào, tôi có thể hổ trợ gì cho bạn không?'
    logged_out_greeting='Xin chào, tôi có thể hổ trợ gì cho bạn không?'>

    <div class="hotline-phone-ring-wrap">
        <div class="hotline-phone-ring">
            <div class="hotline-phone-ring-circle"></div>
            <div class="hotline-phone-ring-circle-fill"></div>
            <div class="hotline-phone-ring-img-circle">
            <a href="tel:0903375086" class="pps-btn-img">
                <img src="/images/icon/icon-call-nh.png" alt="Gọi điện thoại" width="50">
            </a>
            </div>
        </div>
        <div class="hotline-bar">
            <a href="tel:0903375086">
                <span class="text-hotline">0903.375.086</span>
            </a>
        </div>
    </div>
</div>

<div class="zalo-chat-widget" data-oaid="579745863508352884" data-welcome-message="Rất vui khi được hỗ trợ bạn!" data-autopopup="0" data-width="350" data-height="420"></div>