<div class="header-area ">
        <div class="main-header header-sticky">
                <div class="container-fluid">
                        <div class="menu-wrapper d-flex align-items-center justify-content-between">
                                <div class="header-left d-flex align-items-center">
                                        <!-- Logo -->
                                        <div class="logo">
                                                <a href="/"><img src="../images/logo.png" style="width: 120px;" alt=""></a>
                                        </div>
                                        <!-- Main-menu -->
                                        <div class="main-menu  d-none d-lg-block">
                                                <nav id="menu">
                                                        <ul id="navigation">

                                                                <li><a href="/" title="Trang chủ"><i
                                                                                        class="fa fa-home"></i></a></li>

                                                                <li class=""><a href="#" title="Cửa nhôm">Cửa
                                                                                nhôm <span class="fa fa-angle-down"
                                                                                        aria-hidden="true"></span></a>
                                                                        <ul class="main-menu-sub1 submenu">
                                                                                <li>
                                                                                        <a href="/cua-nhom/cua-di"
                                                                                                title="Cửa Đi">
                                                                                                Cửa Đi
                                                                                        </a>
                                                                                </li>

                                                                                <li>
                                                                                        <a href="/cua-nhom/cua-phong-khach"
                                                                                                title="Cửa Phòng Khách">
                                                                                                Cửa Phòng Khách
                                                                                        </a>
                                                                                </li>
                                                                                <li>
                                                                                        <a href="/cua-nhom/cua-phong-ngu"
                                                                                                title="Cửa Phòng Ngủ">
                                                                                                Cửa Phòng Ngủ
                                                                                        </a>
                                                                                </li>
                                                                                <li>
                                                                                        <a href="/cua-nhom/cua-so"
                                                                                                title="Cửa Sổ">
                                                                                                Cửa Sổ
                                                                                        </a>
                                                                                </li>
                                                                                
                                                                                <li>
                                                                                        <a href="/cua-nhom/cua-nhom-xingfa"
                                                                                                title="Cửa Nhôm XingFa">
                                                                                                Cửa Nhôm XingFa
                                                                                        </a>
                                                                                </li>
                                                                                

                                                                        </ul>
                                                                </li>
                                                                <li class=""><a href="#"
                                                                                title="Kính cường lực">Kính
                                                                                cường lực <span class="fa fa-angle-down"
                                                                                        aria-hidden="true"></span></a>
                                                                        <ul class="main-menu-sub1 submenu">
                                                                                <li>
                                                                                        <a href="/kinh-cuong-luc/kinh-cuong-luc"
                                                                                                title="Kính Cường Lực">
                                                                                                Kính Cường Lực
                                                                                        </a>
                                                                                </li>
                                                                                <li>
                                                                                        <a href="/kinh-cuong-luc/kinh-hai-lop"
                                                                                                title="Kính Hai Lớp">
                                                                                                Kính Hai Lớp
                                                                                        </a>
                                                                                </li>
                                                                                <li>
                                                                                        <a href="/kinh-cuong-luc/kinh-cach-am"
                                                                                                title="Kính Cách Âm">
                                                                                                Kính Cách Âm
                                                                                        </a>
                                                                                </li>
                                                                                <li>
                                                                                        <a href="/kinh-cuong-luc/kinh-son"
                                                                                                title="Kính Sơn">
                                                                                                Kính Sơn
                                                                                        </a>
                                                                                </li>
                                                                                
                                                                        </ul>
                                                                </li>
                                                                <li class=""><a href="#" title="Mẫu Tủ"> Mẫu Tủ <span
                                                                                        class="fa fa-angle-down"
                                                                                        aria-hidden="true"></span></a>
                                                                        <ul class="main-menu-sub1 submenu">
                                                                                
                                                                                <li>
                                                                                        <a href="/mau-tu/tu-ao"
                                                                                                title="Tủ Áo">
                                                                                                Tủ Áo
                                                                                        </a>
                                                                                </li>
                                                                                <li>
                                                                                        <a href="/mau-tu/tu-chen"
                                                                                                title="Tủ Chén">
                                                                                                Tủ Chén
                                                                                        </a>
                                                                                </li>
                                                                                <li>
                                                                                        <a href="/mau-tu/tu-am-tuong"
                                                                                                title="Tủ Âm Tường">
                                                                                                Tủ Âm Tường
                                                                                        </a>
                                                                                </li>
                                                                                <li>
                                                                                        <a href="/mau-tu/tu-trung-bay"
                                                                                                title="Tủ Trưng Bày">
                                                                                                Tủ Trưng Bày
                                                                                        </a>
                                                                                </li>
                                                                        </ul>
                                                                </li>
                                                                <li class=""><a href="#" title="Kệ Bếp">Kệ Bếp
                                                                                <span class="fa fa-angle-down"
                                                                                        aria-hidden="true"></span></a>
                                                                        <ul class="main-menu-sub1 submenu">
                                                                                <li>
                                                                                        <a href="/ke-bep/ke-bep"
                                                                                                title="Kệ Chén">
                                                                                                Kệ Bếp
                                                                                        </a>

                                                                                </li>
                                                                                <li>
                                                                                        <a href="/ke-bep/o-bep"
                                                                                                title="Kệ Bán Hàng">
                                                                                                Ô Bếp
                                                                                        </a>
                                                                                </li>
                                                                        </ul>
                                                                </li>
                                                                <li class=""><a href="#"
                                                                                title="Sản Phẩm Khác">Sản phẩm
                                                                                khác
                                                                                <span class="fa fa-angle-down"
                                                                                        aria-hidden="true"></span></a>
                                                                        <ul class="main-menu-sub1 submenu">
                                                                                <li>
                                                                                        <a href="/san-pham-khac/cua-chong-muoi"
                                                                                                title="Cửa Chống Muỗi">
                                                                                                Cửa Chống Muỗi
                                                                                        </a>
                                                                                </li>

                                                                                <li>
                                                                                        <a href="/san-pham-khac/cua-gia-go"
                                                                                                title="Cửa Giả Gỗ">
                                                                                                Cửa Giả Gỗ
                                                                                        </a>
                                                                                </li>

                                                                                <li>
                                                                                        <a href="/san-pham-khac/lan-can-cau-thang-kinh"
                                                                                                title="Lan Can Cầu Thang Kính">
                                                                                                Lan Can Cầu Thang Kính
                                                                                        </a>
                                                                                </li>
                                                                        </ul>
                                                                </li>
                                                                <li class=""><a href="/lien-he" title="Liên hệ">Liên
                                                                                hệ</a>

                                                        </ul>
                                                </nav>
                                        </div>
                                </div>

                                <!-- Mobile Menu -->
                                <div class="col-12">
                                        <div class="mobile_menu d-block d-lg-none"></div>
                                </div>
                        </div>
                </div>
        </div>
</div>