<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>{{title}}</title>
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0">
  <link rel="manifest" href="site.webmanifest">
  <link rel="icon" href="/images/logo.png" type="image/icon type">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
    integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  <script src="https://code.jquery.com/jquery-latest.js"></script>

  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/footer.css">
  <link rel="stylesheet" href="/stylesheets/header-top.css">
  <link rel='stylesheet' href="/stylesheets/main.css">
  <link rel='stylesheet' href="/stylesheets/navbar.css">
  <link rel='stylesheet' href="/stylesheets/slick.css">
  <link rel='stylesheet' href="/stylesheets/slicknav.css">
  <link rel='stylesheet' href="/stylesheets/flaticon.css">

  {{!-- <link rel='stylesheet' href="/stylesheets/navbar.css"> --}}
  <link rel='stylesheet' href="/stylesheets/responsive.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/stylesheets/phone.css" />

  {{{_sections.css}}}

</head>

<body itemscope="" itemtype="http://schema.org/Website">
  <script src="https://code.jquery.com/jquery-3.4.0.js"></script>
  <div class="main">
    
    {{> header-top}}
    {{> navbar}}
    {{> message}}

    <div class="wrapper">
      {{{ body }}}
    </div>
    {{> footer}}
    {{!-- Jquery, bootstrap, popper --}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="javascripts/slick.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    
    <!-- JS here -->
    <!-- Jquery, Popper, Bootstrap -->
    <script src="/javascripts/vendor/modernizr-3.5.0.min.js"></script>
    <script src="/javascripts/vendor/jquery-1.12.4.min.js"></script>
    <script src="/javascripts/popper.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>

    <!-- Slick-slider , Owl-Carousel ,slick-nav -->
    <script src="/javascripts/owl.carousel.min.js"></script>
    <script src="/javascripts/slick.min.js"></script>
    <script src="/javascripts/jquery.slicknav.min.js"></script>

    <!-- One Page, Animated-HeadLin, Date Picker -->
    <script src="/javascripts/wow.min.js"></script>
    <script src="/javascripts/animated.headline.js"></script>
    <script src="/javascripts/jquery.magnific-popup.js"></script>
    <script src="/javascripts/gijgo.min.js"></script>

    <!-- Nice-select, sticky,Progress -->
    <script src="/javascripts/js/jquery.nice-select.min.js"></script>
    <script src="/javascripts/js/jquery.sticky.js"></script>
    <script src="/javascripts/js/jquery.barfiller.js"></script>

    <!-- counter , waypoint,Hover Direction -->
    <script src="/javascripts/jquery.counterup.min.js"></script>
    <script src="/javascripts/waypoints.min.js"></script>
    <script src="/javascripts/jquery.countdown.min.js"></script>
    <script src="/javascripts/hover-direction-snake.min.js"></script>

    <!-- contact js -->
    <script src="/javascripts/contact.js"></script>
    <script src="/javascripts/jquery.form.js"></script>
    <script src="/javascripts/jquery.validate.min.js"></script>
    <script src="/javascripts/mail-script.js"></script>
    <script src="/javascripts/jquery.ajaxchimp.min.js"></script>

    <!-- Jquery Plugins, main Jquery -->
    <script src="/javascripts/plugins.js"></script>
    <script src="/javascripts/main.js"></script>
    
    <script src="https://sp.zalo.me/plugins/sdk.js"></script>
    {{{_sections.js}}}

  </div>

</body>

</html>