{{#section 'css'}}
<link rel="stylesheet" href="/stylesheets/detailpage.css">
{{/section}}

<main>
    <div class="container-content">
        <div class="banner">
            <img class="banner-image" src="../images/background/background.jpg">
            <h2 class="banner-text">LAN CAN & CẦU THANG KÍNH</h2>
        </div>
        <div class="container">
            <div class="wrap-page flex flex-wrap flex-mobile">
                <div class="right">
                    <article class="details-page" style="margin-right: 50px;">
                        <div style="text-align: center;">
                            <strong>
                                <span style="color:#ff0000;">
                                    <span style="font-size:18px;">
                                        LAN CAN & CẦU THANG KÍNH
                                    </span>
                                </span>
                            </strong>
                        </div>
                        <div style="text-align: justify;">
                            &nbsp;</div>
                        <div style="text-align: justify;">
                            <span style="font-size:18px;">
                                <span style="font-family:times new roman,times,serif;">
                                    <span style="color:#0000cd;">Cửa hàng nhôm kính Trung</span>
                                    chúng tôi sẽ mang đến những mẫu Lan can & cầu thang kính đẹp, có mẫu mới, chất
                                    lượng tốt và sự hài
                                    lòng cao nhất cho khách hàng.&nbsp;
                                </span>
                            </span>
                        </div>
                        <div style="text-align: justify;">
                            &nbsp;</div>

                        <div class="popular-items">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="single-popular-items mb-50 text-center">
                                            <div class="service-horizontal--item__img" data-toggle="modal" data-target="#lightbox"  style="margin: 10px;">
                                                <video src="../images/data/san-pham-khac/lan-can-cau-thang-kinh/v1.mp4" width="100%" height="560px" controls autoplay muted> 
                                                    Your browser does not support the <video> element.   
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="single-popular-items mb-50 text-center">
                                            <div class="service-horizontal--item__img" data-toggle="modal" data-target="#lightbox"  style="margin: 10px;">
                                                <img src="../images/data/san-pham-khac/lan-can-cau-thang-kinh/3.jpg" alt="">
                                            </div>
                                        </div>
                                        <div class="single-popular-items mb-50 text-center">
                                            <div class="service-horizontal--item__img" data-toggle="modal" data-target="#lightbox"  style="margin: 10px;">
                                                <img src="../images/data/san-pham-khac/lan-can-cau-thang-kinh/4.jpg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="single-popular-items mb-50 text-center">
                                            <div class="service-horizontal--item__img" data-toggle="modal" data-target="#lightbox"  style="margin: 10px;">
                                                <img src="../images/data/san-pham-khac/lan-can-cau-thang-kinh/1.jpg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="single-popular-items mb-50 text-center">
                                            <div class="service-horizontal--item__img" data-toggle="modal" data-target="#lightbox"  style="margin: 10px;">
                                                <img src="../images/data/san-pham-khac/lan-can-cau-thang-kinh/2.jpg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="single-popular-items mb-50 text-center">
                                            <div class="service-horizontal--item__img" data-toggle="modal" data-target="#lightbox"  style="margin: 10px;">
                                                <img src="../images/data/san-pham-khac/lan-can-cau-thang-kinh/5.jpg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="single-popular-items mb-50 text-center">
                                            <div class="service-horizontal--item__img" data-toggle="modal" data-target="#lightbox"  style="margin: 10px;">
                                                <img src="../images/data/san-pham-khac/lan-can-cau-thang-kinh/6.jpg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <div class="single-popular-items mb-50 text-center">
                                            <div class="service-horizontal--item__img" data-toggle="modal" data-target="#lightbox"  style="margin: 10px;">
                                                <img src="../images/data/san-pham-khac/lan-can-cau-thang-kinh/7.jpg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div style="text-align: center;">
                            &nbsp;</div>
                    </article>
                </div>
                {{> left-sidebar}}
            </div>
        </div>

    </div>
</main>