{{#section 'css'}}
<link rel="stylesheet" href="/stylesheets/detailpage.css">
{{/section}}

<main>
    <div class="container-content">
        <div class="banner">
            <img class="banner-image" src="../images/background/background.jpg">
            <h2 class="banner-text">CỬA PHÒNG KHÁCH</h2>
        </div>
        <div class="container">
            <div class="wrap-page flex flex-wrap flex-mobile">
                <div class="right">
                    <article class="details-page" style="margin-right: 50px;">
                        <div style="text-align: center;">
                            <strong>
                                <span style="color:#ff0000;">
                                    <span style="font-size:18px;">
                                        
                                    </span>
                                </span>
                            </strong>
                        </div>
                        <div style="text-align: justify;">
                            &nbsp;</div>
                        <div style="text-align: justify;">
                            <span style="font-size:18px;">
                                <span style="font-family:times new roman,times,serif;">
                                    <span style="color:#0000cd;">Cửa hàng nhôm kính Trung</span>
                                    chúng tôi sẽ mang đến những mẫu cửa phòng khách đẹp, có mẫu mới, chất lượng tốt
                                    và sự hài lòng cao nhất cho khách hàng.&nbsp;
                                </span>
                            </span>
                        </div>
                        <div style="text-align: justify;">
                            &nbsp;</div>

                        <div class="popular-items">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="single-popular-items mb-50 text-center">
                                            <div class="service-horizontal--item__img" style="margin: 10px;">
                                                <video src="../images/data/cua-nhom/cua-phong-khach/v1.mp4" width="100%" height="545px" controls autoplay muted> 
                                                    Your browser does not support the <video> element.   
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="single-popular-items mb-50 text-center">
                                            <div class="service-horizontal--item__img popular-img-img" data-toggle="modal" data-target="#lightbox"  style="margin: 10px;">
                                                <img src="../images/data/cua-nhom/cua-phong-khach/1.jpg"
                                                     alt="">
                                            </div>
                                        </div>

                                        <div class="single-popular-items mb-50 text-center">
                                            <div class="service-horizontal--item__img popular-img-img" data-toggle="modal" data-target="#lightbox"  style="margin: 10px;">
                                                <img src="../images/data/cua-nhom/cua-phong-khach/2.jpg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="single-popular-items mb-50 text-center">
                                            <div class="service-horizontal--item__img popular-img-img" data-toggle="modal" data-target="#lightbox"  style="margin: 10px;">
                                                <img src="../images/data/cua-nhom/cua-phong-khach/3.jpg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="single-popular-items mb-50 text-center">
                                            <div class="service-horizontal--item__img popular-img-img" data-toggle="modal" data-target="#lightbox"  style="margin: 10px;">
                                                <img src="../images/data/cua-nhom/cua-phong-khach/4.jpg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                
                <div style="text-align: center;">
                    &nbsp;</div>
                </article>
            </div>
            {{> left-sidebar}}
        </div>
    </div>

    </div>
    {{!-- <div id="lightbox" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <button type="button" class="close hidden" data-dismiss="modal" aria-hidden="true">×</button>
            <div class="modal-content">
                <div class="modal-body"> <img src="/" alt="">
                </div>
            </div>
        </div>
    </div> --}}
</main>