@media (min-width: 1200px) {
    .content-news .news-small .content {
        height: 172px;
    }
}

@media (max-width: 1199px) {
    .navbar-default .navbar-nav>li>a {
        padding: 0 10px;
    }
    .product-home .content .tab-content.primary ul.child li {
        width: 50%;
    }
    .introduce .video video {
        width: 100%;
    }
    main .main-product .item-product .content ul li a {
        font-size: 14px;
    }
    main .main-product .item-product .content ul li {
        padding: 10px 0;
    }
    main .main-product.login .content-login .tab-content {
        padding: 20px 0;
    }
    main .main-product.about .img-left .title,
    main .main-product.about .img-right .title {
        padding-top: 0;
    }
    .search-form .form-control {
        width: 150px;
    }
}

@media (max-width: 991px) {
    header .top-header .left span {
        margin-right: 10px;
    }
    .navbar-form .form-control {
        width: 125px;
    }
    .navbar-default .navbar-nav>li>a {
        padding: 0 7px;
    }
    .navbar-brand>img {
        width: 150px !important;
    }
    .navbar-brand {
        padding: 24px 0 0 0;
    }
    footer .info,
    footer .suport {
        width: 50%;
        margin-right: 0;
        margin-bottom: 20px;
    }
    footer .app,
    footer .connect {
        width: 50%;
        margin-right: 0;
    }
    .content-news .news-primary {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }
    .content-news .news-small {
        width: 48%;
        margin-right: 4%;
    }
    main .main-product .item-product h3.title {
        left: 15px;
        font-size: 24px;
    }
    main .main-product.details .tab-content .app .top {
        text-align: center;
    }
    main .main-product.details .tab-content .app .item:hover span {
        left: 0;
        transform: translateX(0%);
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    main .main-product.details .tab-content .app .top span {
        margin-right: 0;
        width: 100%;
        text-align: center;
    }
    main .main-product.details .tab-content .app .top a {
        float: none;
        display: inline-block;
        padding: 8px 6px;
        margin: 0 3px;
    }
    main .main-product.details .tab-content .app .top select {
        float: none;
        display: inline-block;
    }
    main .main-product.news .content .item {
        width: 48%;
        margin-right: 4% !important;
    }
    main .main-product.news .content .item:nth-child(2n+2) {
        margin-right: 0 !important;
    }
    main .main-product.news-details .content-news-details .content-right .tab-content .relate-content .img,
    main .main-product.news-details .content-news-details .content-right .tab-content .relate-content .info {
        width: 100%;
        margin-right: 0;
    }
    main .main-product.news-details .content-news-details .content-right .tab-content .relate-content .img img {
        margin-bottom: 10px;
    }
    main .main-product.about .img-right,
    main .main-product.about .img-left {
        margin: 15px 0;
    }
    main .main-product.about .title h4 {
        margin-top: 0;
        margin-bottom: 20px;
    }
    main .main-product.about a {
        margin-top: 10px;
    }
    header .top-header .right li {
        padding: 0 15px;
    }
    /* Mẫu sản phẩm */
    .mausanpham>img {
        height: 100%;
        object-fit: cover;
    }
    .mausanpham .content-absolute .content-primary .info-pro {
        padding-left: 15px;
    }
    .mausanpham .content-absolute .content-primary .slidePro {
        width: calc(50% - 15px);
        margin-left: 15px;
    }
    .mausanpham .content-absolute .content-primary .info-pro .color-tt a {
        margin: 2px 0px 2px 0px;
    }
    .mausanpham .content-absolute .content-primary .info-pro .des {
        max-height: 235px;
    }
    .why-us {
        display: none;
    }
    .banner {
        margin-bottom: 15px;
    }
}

@media (max-width: 767px) {
    .why-us {
        display: none;
    }
    .banner {
        margin-bottom: 15px;
    }
    .box-icon {
        display: none;
    }
    main .main-product.details .comment-facebook {
        width: 100%;
    }
    header .menu {
        height: auto !important;
    }
    .carousel-indicators {
        z-index: -1;
    }
    .navbar-brand {
        padding: 5px !important;
    }
    .navbar-brand img {
        width: 173px !important;
    }
    .menu .sub-menu {
        top: 100% !important;
    }
    .navbar-collapse.in {
        overflow-y: inherit;
        width: 100%;
        /* background: rgba(255,255,255, 0.95); */
    }
    .navbar-default {
        height: auto;
    }
    .navbar-default .navbar-nav>li>a {
        line-height: 35px !important;
    }
    .menu .sub-menu {
        -webkit-transform: rotateX(90deg);
        -moz-transform: rotateX(90deg);
        -ms-transform: rotateX(90deg);
        -o-transform: rotateX(90deg);
        transform: rotateX(90deg);
        border-top: none;
        width: 100%;
        z-index: 999;
        visibility: visible;
        left: 0;
        padding-top: 10px;
    }
    .menu .navbar-nav>li:hover .sub-menu {
        background: white;
        transform: rotateX(0deg);
    }
    .menu .sub-menu .list-sub .title-cat {
        margin-top: 10px;
    }
    .navbar-default .navbar-form {
        border-top: none;
    }
    .menu .navbar-nav>li {
        text-align: center;
    }
    .navbar-collapse.collapse {
        padding-right: 15px;
    }
    .menu .sub-menu .img {
        display: none;
    }
    .menu .sub-menu .images-bottom {
        display: none;
    }
    .menu .navbar-nav>li {
        position: relative;
    }
    .navbar-form .form-control {
        width: 100%;
    }
    header .top-header .left {}
    .navbar-form .form-group {
        margin-top: 0 !important;
    }
    header .top-header {
        text-align: center;
    }
    header .top-header .right {
        border: none;
        float: right;
        display: inline-block;
    }
    .product-home .content .nav-tabs.primary {
        padding-right: 15px;
    }
    .product-home .content .nav-tabs.primary li.active::after {
        display: none;
    }
    .product-home .content .tab-content.primary ul.child li {
        width: 100%;
    }
    .partner .content li {
        width: 50%;
    }
    main .main-product .pro1,
    main .main-product .pro2,
    main .main-product .pro5 {
        width: 100%;
        margin-right: 0;
        background-size: cover;
        margin-top: 5px;
    }
    main .main-product .pro3,
    main .main-product .pro4 {
        width: 100%;
        margin-right: 0;
        background-size: cover;
    }
    main .main-product .pro4 {
        margin-right: 0;
    }
    main .main-product {
        padding: 20px 15px;
    }
    main .main-product .item-product .content {
        padding: 15px 10px;
    }
    main .main-product .item-product .content ul li {
        padding: 8px 0;
        width: 100%;
    }
    main .main-product.details .menu-tabs li,
    main .main-product.details .menu-tabs_ li {
        width: 100%;
        margin-left: 0;
    }
    main .main-product.details .menu-tabs li a,
    main .main-product.details .menu-tabs_ li a {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    main .main-product.details {
        padding: 0 15px 40px 15px;
    }
    main .main-product.details .tab-content .des-cript .content {
        /*width: 100%;*/
        margin-right: 0;
    }
    main .main-product.details .tab-content .des-cript .img {
        /*display: none;*/
    }
    main .main-product.details .tab-content .app .top a {
        width: 100%;
        margin: 3px 0;
    }
    .pagination>li>a {
        font-size: 14px;
    }
    main .main-product.news .content .item {
        width: 100%;
        margin-right: 0 !important;
    }
    main .main-product.news-details .content-news-details .content-right .nav-tabs li {
        width: 100%;
    }
    main .main-product.news {
        padding: 0 15px 50px 15px;
    }
    main .main-product.project {
        padding: 40px 15px 20px 15px;
    }
    main .main-product.news {
        padding: 0 15px 30px 15px;
    }
    main .main-product.contact {
        padding: 15px 15px 30px 15px;
    }
    main .main-product.contact .info {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }
    main .main-product.contact .send-contact {
        width: 100%;
    }
    main .main-product.login .content-login {
        width: 100%;
    }
    main .main-product.about .img-left>img,
    main .main-product.about .img-right>img {
        display: none;
    }
    main .main-product.about .img-left .title,
    main .main-product.about .img-right .title {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
    .product-home .content .primary .child {
        padding: 20px 15px 20px 15px;
    }
    .grid-item {
        width: 50% !important;
    }
    .carousel-control span {
        width: 35px;
        height: 40px;
        position: absolute;
        background-size: 100% 100%;
    }
    .introduce h3,
    .product-home h3 {
        font-size: 28px;
    }
    .introduce p {
        font-size: 13px;
    }
    .product-home .content .nav-tabs.primary li a {
        font-size: 18px;
    }
    .product-home .content .primary ul.child li a {
        font-size: 16px;
    }
    .news-home {
        padding: 30px 0 30px 0;
    }
    .news-home .title p small {
        font-size: 16px;
    }
    .news-home .title p span {
        font-size: 28px;
    }
    .news-home .title a.view-all {
        font-size: 12px;
    }
    .review-home h3 {
        font-size: 20px;
    }
    .slide-review .owl-carousel .owl-item .item p {
        font-size: 14px;
    }
    .slide-review .owl-carousel .owl-item .item span {
        margin-bottom: 30px;
    }
    .partner h3 {
        font-size: 28px;
        margin-top: 30px;
        margin-bottom: 15px;
    }
    .partner span.title {
        font-size: 16px;
        margin-bottom: 25px;
    }
    .register-email h4 {
        font-size: 18px;
    }
    .widget_text ul {
        float: left;
        width: 100%;
        text-align: center;
    }
    .widget_text ul li {
        display: inline-block;
    }
    footer .connect ul li a {
        margin-right: 2px;
    }
    footer {
        padding: 35px 0 15px 0;
    }
    header>.menu {
        position: relative;
        top: 0 !important;
    }
    header>.menu-fix {
        top: 0;
        position: fixed;
    }
    .banner-small .directional h2 {
        font-size: 18px;
        padding: 13px 20px;
        padding-bottom: 5px;
    }
    main .main-product .item-product .content {
        opacity: 1 !important;
        transform: none !important;
        visibility: visible;
    }
    main .main-product .item-product h3.title {
        display: none;
    }
    .content-iso .iso-top {
        width: 50% !important;
    }
    main .main-product.details .des-cript h3 {
        font-size: 28px;
        text-align: center;
    }
    main .main-product.details .tab-content .app .top a {
        width: auto;
    }
    main .main-product.news .menu-news li a {
        font-size: 13px;
        font-weight: 700;
        padding: 10px 15px;
    }
    .banner-small .directional h2 {
        border-radius: 10px 10px 0 0;
    }
    .navbar-form.navbar-left.search-form {
        float: left;
        width: 100%;
    }
    .menu .navbar-nav>li.company .sub-menu {
        width: 100%;
    }
    .blockcat {
        display: block;
    }
    main .main-product.about .img_thumbnail {
        width: 100%;
    }
    main .main-product.about .img-left .title,
    main .main-product.about .img-right .title {
        text-align: center;
        margin-top: 10px;
    }
    main .main-product.about a.chitiet {
        max-width: 200px;
        margin: auto;
        display: block;
        float: none;
    }
    .search-mobile {
        display: block;
    }
    .banner-small {
        margin-top: 35px;
    }
    main .main-product.contact .item .content p.tel {
        width: 100%;
    }
    header .top-header .right li.brand {
        display: none;
    }
    .lang .active {
        left: 5px;
    }
    .icon-phone-mobile {
        display: block;
    }
    .copyright span {
        float: left;
        width: 100%;
        text-align: center;
    }
    main .main-product .item-product {
        padding: 10px;
    }
    main .main-product .item-product .content {
        position: relative;
        float: left;
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        min-height: 280px;
    }
    main .main-product .pro1,
    main .main-product .pro2,
    main .main-product .pro5 {
        min-height: 300px;
        height: auto;
    }
    main .main-product .item-product .content ul {
        float: left;
        width: 100%;
    }
    .tab-height {
        max-height: 500px;
        height: auto;
    }
    header .top-header {
        position: relative;
    }
    .bottom-product-details .left,
    .bottom-product-details .right {
        width: 100%;
        padding: 10px;
        height: auto;
    }
    .bottom-product-details .left {
        margin-bottom: 1px;
    }
    /* Mẫu sản phẩm */
    .mausanpham {
        height: auto;
    }
    .mausanpham>img {
        height: auto;
        margin-bottom: 20px;
    }
    .mausanpham .content-absolute {
        position: relative;
        float: left;
        width: 100%;
    }
    .mausanpham .content-absolute .content-primary .info-pro {
        padding-left: 0;
        width: 100%;
    }
    .mausanpham .content-absolute .content-primary .slidePro {
        width: 100%;
        margin-left: 0;
        margin-top: 20px;
    }
    .mausanpham .content-absolute .content-primary .button-dh {
        display: none;
    }
}

@media (max-width: 480px) {
    header .top-header {
        height: auto;
    }
    header .top-header .right li.brand i {
        margin-right: 5px;
    }
    header .top-header .right li {
        padding: 0 5px;
    }
    .slide-home .title-img {
        display: none;
    }
    .product-home .content .tab-content.primary .tab-content.child ul.grandson li.active::after {
        display: none;
    }
    .product-home .content .tab-content.primary .tab-content.child .tab-content.grandson ul li {
        width: 50%;
    }
    .product-home .content .tab-content.primary .tab-content.child ul.grandson li {
        margin-top: 10px;
    }
    .content-news .news-small {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }
    .partner .content li {
        width: 50%;
    }
    .register-email .form-group a.button {
        width: 85px;
    }
    .register-email .form-group {
        width: 100%;
    }
    .register-email .form-group input {
        text-indent: 0;
    }
    footer .info,
    footer .suport {
        width: 50%;
    }
    footer .connect {
        margin-top: 20px;
    }
    .introduce .video video {
        height: 250px;
        margin-top: 10px;
    }
    main .main-product.details .tab-content .app .item {
        width: 100%;
    }
    .pagination>li>a {
        font-size: 12px;
        margin-top: 5px;
    }
    main .main-product.news-details .content-news-details .content-left,
    main .main-product.news-details .content-news-details .content-right {
        width: 100%;
        margin-right: 0;
    }
    main .main-product.news-details .content-news-details .content-right {
        margin-top: 30px;
    }
    main .main-product.news-details .content-news-details .content-right .nav-tabs li {
        width: 50%;
    }
    main .main-product.project .item {
        width: 100%;
    }
    main .main-product.contact .send-contact .form-group {
        width: 100%;
        margin-right: 0!important;
    }
    .content-iso .iso-top {
        width: 100% !important;
    }
    header .top-header .right li.login a {
        text-transform: capitalize;
    }
    header .top-header .right li.lang {
        position: relative;
        width: 40px;
    }
    header .top-header .right li.lang a img,
    header .top-header .left span {
        margin-right: 0;
    }
    .list-sub {
        text-align: left;
    }
    footer .app,
    footer .connect {
        width: 100%;
    }
    .wpcf7-form-control.g-recaptcha.wpcf7-recaptcha.pull-left {
        margin-bottom: 0;
    }
    .affix-b.affix {
        position: static !important;
    }
}