{{#section 'css'}}
<link rel="stylesheet" href="/stylesheets/home.css">
{{/section}}

<div class="header-overlay-none"></div>
<main style="background-image: url('/images/background/background-web(2)test.jpg'); background-attachment: fixed;
  background-size: cover;">


    <header>
        {{> banner}}
    </header>

    <div class="container f">

        <div class="why-us">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="title-main">
                            <h1 itemprop="name">Vì sao chọn chúng tôi</h1>
                        </div>
                    </div>
                    <div class="col-sm-12 d-flex flex-wrap">

                        <div class="wh-box">
                            <div class="wh-box__icon">
                                <img src="images/why-us/design.png" alt="Thiết kế &amp; Thi Công Chuyên Nghiệp">
                            </div>
                            <div class="wh-box__content">
                                <div class="tit">Thiết kế &amp; Thi Công Chuyên Nghiệp</div>
                                <div class="desc"></div>
                            </div>
                        </div>
                        <div class="wh-box">
                            <div class="wh-box__icon">
                                <img src="images/why-us/price.png" alt="Giá cả hợp lý &amp Phù Hợp Nhu Cầu">
                            </div>
                            <div class="wh-box__content">
                                <div class="tit">Giá cả hợp lý &amp Phù hợp nhu cầu</div>
                                <div class="desc"></div>
                            </div>
                        </div>
                        <div class="wh-box">
                            <div class="wh-box__icon">
                                <img src="images/why-us/employee.png" alt="Đội ngũ nhân viên giàu kinh nghiệm">
                            </div>
                            <div class="wh-box__content">
                                <div class="tit">Đội ngũ nhân viên giàu kinh nghiệm</div>
                                <div class="desc"></div>
                            </div>
                        </div>
                        <div class="wh-box">
                            <div class="wh-box__icon">
                                <img src="images/why-us/contact.png" alt="Hỗ trợ tư vấn khách hàng nhiệt tình">
                            </div>
                            <div class="wh-box__content">
                                <div class="tit">Hỗ trợ tư vấn khách hàng nhiệt tình</div>
                                <div class="desc"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="service-home">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="title-main">
                            <h2><a href="#" title="Các Loại Cửa">Các Loại Cửa</a></h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="service-horizontal d-flex flex-wrap">

                            <div class="service-horizontal--item">
                                <div class="service-horizontal--item__img">
                                        <div id="main-slide" class="carousel slide" data-ride="carousel">
                                            <div class="carousel-inner" style="margin: auto; height: 100%; width: 99%">
                                                <div class="carousel-item 1 active banner-image">
                                                    <a href="/cua-nhom/cua-di" title="Cửa Đi">
                                                        <img src="/images/data/topview/cua-di/1.jpg" alt="Cửa Đi">
                                                    </a>
                                                </div>
                                                <div class="carousel-item 2 banner-image">
                                                    <a href="/cua-nhom/cua-di" title="Cửa Đi">
                                                        <img src="/images/data/topview/cua-di/2.jpg" alt="Cửa Đi">
                                                    </a>
                                                </div>
                                                <div class="carousel-item 3 banner-image">
                                                    <a href="/cua-nhom/cua-di" title="Cửa Đi">
                                                        <img src="/images/data/topview/cua-di/3.jpg" alt="Cửa Đi">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                                <div class="service-horizontal--item__content">
                                    <h3>
                                        <a href="/cua-nhom/cua-di" title="Cửa Đi">
                                            Cửa Đi
                                        </a>
                                    </h3>
                                </div>
                            </div>

                            <div class="service-horizontal--item">
                                <div class="service-horizontal--item__img">
                                         <div id="main-slide" class="carousel slide" data-ride="carousel">
                                            <div class="carousel-inner" style="margin: auto; height: 100%; width: 99%">
                                                <div class="carousel-item 1 active banner-image">
                                                    <a href="/cua-nhom/cua-phong-khach" title="Cửa Phòng Khách">
                                                        <img src="/images/data/topview/cua-phong-khach/1.jpg" alt="Cửa Phòng Khách">
                                                    </a>
                                                </div>
                                                <div class="carousel-item 2 banner-image">
                                                    <a href="/cua-nhom/cua-phong-khach" title="Cửa Phòng Khách">
                                                        <img src="/images/data/topview/cua-phong-khach/2.jpg" alt="Cửa Phòng Khách">
                                                    </a>
                                                </div>
                                                <div class="carousel-item 3 banner-image">
                                                    <a href="/cua-nhom/cua-phong-khach" title="Cửa Phòng Khách">
                                                        <img src="/images/data/topview/cua-phong-khach/3.jpg" alt="Cửa Phòng Khách">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                                <div class="service-horizontal--item__content">
                                    <h3>
                                        <a href="/cua-nhom/cua-phong-khach" title="Cửa Phòng Khách">
                                            Cửa Phòng Khách
                                        </a>
                                    </h3>
                                </div>
                            </div>

                            <div class="service-horizontal--item">
                                <div class="service-horizontal--item__img">
                                        <div id="main-slide" class="carousel slide" data-ride="carousel">
                                            <div class="carousel-inner" style="margin: auto; height: 100%; width: 99%">
                                                <div class="carousel-item 1 active banner-image">
                                                    <a href="cua-nhom/cua-so" title="Cửa Sổ">
                                                        <img src="/images/data/topview/cua-so/1.jpg" alt="Cửa Sổ">
                                                    </a>
                                                </div>
                                                <div class="carousel-item 2 banner-image">
                                                    <a href="cua-nhom/cua-so" title="Cửa Sổ">
                                                        <img src="/images/data/topview/cua-so/2.jpg" alt="Cửa Sổ">
                                                    </a>
                                                </div>
                                                <div class="carousel-item 3 banner-image">
                                                    <a href="cua-nhom/cua-so" title="Cửa Sổ">
                                                        <img src="/images/data/topview/cua-so/3.jpg" alt="Cửa Sổ">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                                <div class="service-horizontal--item__content">
                                    <h3>
                                        <a href="cua-nhom/cua-so" title="Cửa Sổ">
                                            Cửa Sổ
                                        </a>
                                    </h3>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="service-home">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="title-main">
                            <h2><a href="#" title="Các Loại Kính">Các Loại Kính</a></h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="service-horizontal d-flex flex-wrap">

                            <div class="service-horizontal--item">
                                <div class="service-horizontal--item__img">
                                    <div id="main-slide" class="carousel slide" data-ride="carousel">
                                            <div class="carousel-inner" style="margin: auto; height: 100%; width: 99%">
                                                <div class="carousel-item 1 active banner-image">
                                                    <a href="/kinh-cuong-luc/kinh-cuong-luc" title="Kính Cường Lực">
                                                        <img src="/images/data/topview/kinh-cuong-luc/1.jpg" alt="Kính Cường Lực">
                                                    </a>
                                                </div>
                                                <div class="carousel-item 2 banner-image">
                                                    <a href="/kinh-cuong-luc/kinh-cuong-luc" title="Kính Cường Lực">
                                                        <img src="/images/data/topview/kinh-cuong-luc/2.jpg" alt="Kính Cường Lực">
                                                    </a>
                                                </div>
                                                <div class="carousel-item 3 banner-image">
                                                    <a href="/kinh-cuong-luc/kinh-cuong-luc" title="Kính Cường Lực">
                                                        <img src="/images/data/topview/kinh-cuong-luc/3.jpg" alt="Kính Cường Lực">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                                <div class="service-horizontal--item__content">
                                    <h3>
                                        <a href="/kinh-cuong-luc/kinh-cuong-luc" title="Kính Cường Lực">
                                            Kính Cường Lực
                                        </a>
                                    </h3>
                                </div>
                            </div>

                            <div class="service-horizontal--item">
                                <div class="service-horizontal--item__img">
                                    <div id="main-slide" class="carousel slide" data-ride="carousel">
                                            <div class="carousel-inner" style="margin: auto; height: 100%; width: 99%">
                                                <div class="carousel-item 1 active banner-image">
                                                    <a href="/kinh-cuong-luc/kinh-hai-lop" title="Kính Hai Lớp">
                                                        <img src="/images/data/topview/kinh-hai-lop/1.jpg" alt="Kính Hai Lớp">
                                                    </a>
                                                </div>
                                                <div class="carousel-item 2 banner-image">
                                                    <a href="/kinh-cuong-luc/kinh-hai-lop" title="Kính Hai Lớp">
                                                        <img src="/images/data/topview/kinh-hai-lop/2.jpg" alt="Kính Hai Lớp">
                                                    </a>
                                                </div>
                                                <div class="carousel-item 3 banner-image">
                                                    <a href="/kinh-cuong-luc/kinh-hai-lop" title="Kính Hai Lớp">
                                                        <img src="/images/data/topview/kinh-hai-lop/3.jpg" alt="Kính Hai Lớp">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                                <div class="service-horizontal--item__content">
                                    <h3>
                                        <a href="/kinh-cuong-luc/kinh-hai-lop" title="Kính Hai Lớp">
                                            Kính Hai Lớp
                                        </a>
                                    </h3>
                                </div>
                            </div>

                            <div class="service-horizontal--item">
                                <div class="service-horizontal--item__img">
                                    <div id="main-slide" class="carousel slide" data-ride="carousel">
                                            <div class="carousel-inner" style="margin: auto; height: 100%; width: 99%">
                                                <div class="carousel-item 1 active banner-image">
                                                    <a href="/kinh-cuong-luc/kinh-cach-am" title="Kính Cách Âm">
                                                        <img src="/images/data/topview/kinh-cach-am/1.jpg" alt="Kính Cách Âm">
                                                    </a>
                                                </div>
                                                <div class="carousel-item 2 banner-image">
                                                    <a href="/kinh-cuong-luc/kinh-cach-am" title="Kính Cách Âm">
                                                        <img src="/images/data/topview/kinh-cach-am/2.jpg" alt="Kính Cách Âm">
                                                    </a>
                                                </div>
                                                <div class="carousel-item 3 banner-image">
                                                    <a href="/kinh-cuong-luc/kinh-cach-am" title="Kính Cách Âm">
                                                        <img src="/images/data/topview/kinh-cach-am/3.jpg" alt="Kính Cách Âm">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                                <div class="service-horizontal--item__content">
                                    <h3>
                                        <a href="/tu/tu-ao" title="Kính Cách Âm">
                                            Kính Cách Âm
                                        </a>
                                    </h3>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="service-home">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="title-main">
                            <h2><a href="#" title="Mẫu Tủ">Mẫu Tủ</a></h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="service-horizontal d-flex flex-wrap">

                            <div class="service-horizontal--item">
                                <div class="service-horizontal--item__img">
                                     <div id="main-slide" class="carousel slide" data-ride="carousel">
                                            <div class="carousel-inner" style="margin: auto; height: 100%; width: 99%">
                                                <div class="carousel-item 1 active banner-image">
                                                    <a href="/mau-tu/tu-ao" title="Tủ Áo">
                                                        <img src="/images/data/topview/tu-ao/1.jpg" alt="Tủ Áo">
                                                    </a>
                                                </div>
                                                <div class="carousel-item 2 banner-image">
                                                    <a href="/mau-tu/tu-ao" title="Tủ Áo">
                                                        <img src="/images/data/topview/tu-ao/2.jpg" alt="Tủ Áo">
                                                    </a>
                                                </div>
                                                <div class="carousel-item 3 banner-image">
                                                    <a href="/mau-tu/tu-ao" title="Tủ Áo">
                                                        <img src="/images/data/topview/tu-ao/3.jpg" alt="Tủ Áo">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                                <div class="service-horizontal--item__content">
                                    <h3>
                                        <a href="/mau-tu/tu-ao" title="Tủ Áo">
                                            Tủ Áo
                                        </a>
                                    </h3>
                                </div>
                            </div>

                            <div class="service-horizontal--item">
                                <div class="service-horizontal--item__img">
                                     <div id="main-slide" class="carousel slide" data-ride="carousel">
                                            <div class="carousel-inner" style="margin: auto; height: 100%; width: 99%">
                                                <div class="carousel-item 1 active banner-image">
                                                    <a href="/mau-tu/tu-chen" title="Tủ Chén">
                                                        <img src="/images/data/topview/tu-chen/1.jpg" alt="Tủ Chén">
                                                    </a>
                                                </div>
                                                <div class="carousel-item 2 banner-image">
                                                    <a href="/mau-tu/tu-chen" title="Tủ Chén">
                                                        <img src="/images/data/topview/tu-chen/2.jpg" alt="Tủ Chén">
                                                    </a>
                                                </div>
                                                <div class="carousel-item 3 banner-image">
                                                    <a href="/mau-tu/tu-chen" title="Tủ Chén">
                                                        <img src="/images/data/topview/tu-chen/3.jpg" alt="Tủ Chén">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                                <div class="service-horizontal--item__content">
                                    <h3>
                                        <a href="/mau-tu/tu-chen" title="Tủ Chén">
                                            Tủ Chén
                                        </a>
                                    </h3>
                                </div>
                            </div>

                            <div class="service-horizontal--item">
                                <div class="service-horizontal--item__img">
                                    <div id="main-slide" class="carousel slide" data-ride="carousel">
                                            <div class="carousel-inner" style="margin: auto; height: 100%; width: 99%">
                                                <div class="carousel-item 1 active banner-image">
                                                    <a href="/mau-tu/tu-trung-bay" title="Tủ Trưng Bày">
                                                        <img src="/images/data/topview/tu-trung-bay/1.jpg" alt="Tủ Trưng Bày">
                                                    </a>
                                                </div>
                                                <div class="carousel-item 2 banner-image">
                                                    <a href="/mau-tu/tu-trung-bay" title="Tủ Trưng Bày">
                                                        <img src="/images/data/topview/tu-trung-bay/2.jpg" alt="Tủ Trưng Bày">
                                                    </a>
                                                </div>
                                                <div class="carousel-item 3 banner-image">
                                                    <a href="/mau-tu/tu-trung-bay" title="Tủ Trưng Bày">
                                                        <img src="/images/data/topview/tu-trung-bay/3.jpg" alt="Tủ Trưng Bày">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                                <div class="service-horizontal--item__content">
                                    <h3>
                                        <a href="/mau-tu/tu-trung-bay" title="Tủ Trưng Bày">
                                            Tủ Trưng Bày
                                        </a>
                                    </h3>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="service-home">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="title-main">
                            <h2><a href="#" title="Sản Phẩm Khác">Sản Phẩm Khác</a></h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="service-horizontal d-flex flex-wrap">

                            <div class="service-horizontal--item">
                                <div class="service-horizontal--item__img">
                                    <div id="main-slide" class="carousel slide" data-ride="carousel">
                                            <div class="carousel-inner" style="margin: auto; height: 100%; width: 99%">
                                                <div class="carousel-item 1 active banner-image">
                                                    <a href="/ke-bep/ke-bep" title="Kệ Bếp">
                                                        <img src="/images/data/topview/ke-bep/1.jpg" alt="Kệ Bếp">
                                                    </a>
                                                </div>
                                                <div class="carousel-item 2 banner-image">
                                                    <a href="/ke-bep/ke-bep" title="Kệ Bếp">
                                                        <img src="/images/data/topview/ke-bep/2.jpg" alt="Kệ Bếp">
                                                    </a>
                                                </div>
                                                <div class="carousel-item 3 banner-image">
                                                    <a href="/ke-bep/ke-bep" title="Kệ Bếp">
                                                        <img src="/images/data/topview/ke-bep/3.jpg" alt="Kệ Bếp">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                                <div class="service-horizontal--item__content">
                                    <h3>
                                        <a href="/ke-bep/ke-bep" title="Kệ Bếp">
                                            Kệ Bếp
                                        </a>
                                    </h3>
                                </div>
                            </div>

                            <div class="service-horizontal--item">
                                <div class="service-horizontal--item__img">
                                    <div id="main-slide" class="carousel slide" data-ride="carousel">
                                            <div class="carousel-inner" style="margin: auto; height: 100%; width: 99%">
                                                <div class="carousel-item 1 active banner-image">
                                                    <a href="/san-pham-khac/cua-chong-muoi" title="Cửa Chống Muỗi">
                                                        <img src="/images/data/topview/cua-chong-muoi/1.jpg" alt="Cửa Chống Muỗi">
                                                    </a>
                                                </div>
                                                <div class="carousel-item 2 banner-image">
                                                    <a href="/san-pham-khac/cua-chong-muoi" title="Cửa Chống Muỗi">
                                                        <img src="/images/data/topview/cua-chong-muoi/2.jpg" alt="Cửa Chống Muỗi">
                                                    </a>
                                                </div>
                                                <div class="carousel-item 3 banner-image">
                                                    <a href="/san-pham-khac/cua-chong-muoi" title="Cửa Chống Muỗi">
                                                        <img src="/images/data/topview/cua-chong-muoi/3.jpg" alt="Cửa Chống Muỗi">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                                <div class="service-horizontal--item__content">
                                    <h3>
                                        <a href="/san-pham-khac/cua-chong-muoi" title="Cửa Chống Muỗi">
                                            Cửa Chống Muỗi
                                        </a>
                                    </h3>
                                </div>
                            </div>

                            <div class="service-horizontal--item">
                                <div class="service-horizontal--item__img">
                                    <div id="main-slide" class="carousel slide" data-ride="carousel">
                                            <div class="carousel-inner" style="margin: auto; height: 100%; width: 99%">
                                                <div class="carousel-item 1 active banner-image">
                                                    <a href="/san-pham-khac/lan-can-cau-thang-kinh" title="Lan Can Cầu Thang Kính">
                                                        <img src="/images/data/topview/lan-can-cau-thang-kinh/1.jpg" alt="Lan Can Cầu Thang Kính">
                                                    </a>
                                                </div>
                                                <div class="carousel-item 2 banner-image">
                                                    <a href="/san-pham-khac/lan-can-cau-thang-kinh" title="Lan Can Cầu Thang Kính">
                                                        <img src="/images/data/topview/lan-can-cau-thang-kinh/2.jpg" alt="Lan Can Cầu Thang Kính">
                                                    </a>
                                                </div>
                                                <div class="carousel-item 3 banner-image">
                                                    <a href="/san-pham-khac/lan-can-cau-thang-kinh" title="Lan Can Cầu Thang Kính">
                                                        <img src="/images/data/topview/lan-can-cau-thang-kinh/3.jpg" alt="Lan Can Cầu Thang Kính">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                                <div class="service-horizontal--item__content">
                                    <h3>
                                        <a href="/san-pham-khac/lan-can-cau-thang-kinh" title="Lan Can Cầu Thang Kính">
                                            Lan Can Cầu Thang Kính
                                        </a>
                                    </h3>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>

        {{!-- <div class="quytrinh">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="title-main">
                            <div class="tit">Quy trình thi công</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 d-flex flex-wrap">

                        <div class="quytrinh-box">
                            <div class="tit">Bước 1.Khảo sát thực tế</div>
                            <p>
                                Khảo sát công trình, nắm bắt yêu cầu sở thích của khách hành để từ đó vạch ra ý tưởng
                                thiết kế cho phù hợp</p>
                        </div>
                        <div class="quytrinh-box">
                            <div class="tit">Bước 2.Thiết kế sáng tạo độc đáo</div>
                            <p>
                                Lên bản vẽ thiết kế chi tiết dự án, thiết kế bản vẽ 3d, liệt kê các nguyên vật liệu để
                                tiến hành, các nguyên liệu chi phí...</p>
                        </div>
                        <div class="quytrinh-box">
                            <div class="tit">Bước 3.Thi công chuyên nghiệp đạt chuẩn</div>
                            <p>
                                Tiến hành thi công theo bản vẽ mẫu đã có sẵn, quy trình được làm tỷ mỉ cẩn trọng mang
                                lại kết quả cao cho khách hàng</p>
                        </div>
                        <div class="quytrinh-box">
                            <div class="tit">Bước 4.Hoàn thành &amp; Bàn giao cho Quý khách hàng</div>
                            <p>
                                Điều chỉnh và kiểm tra lại lần cuối các hạng mục thi công, hoàn tất dự án tiến hàng bàn
                                giao cho khách hàng, bảo hàng theo quy định</p>
                        </div>
                    </div>
                </div>
            </div>
        </div> --}}

    </div>
</main>