{{#section 'css'}}
<link rel="stylesheet" href="/stylesheets/detailpage.css">
{{/section}}

<main>
    <div class="container-content">
        <div class="banner">
            <img class="banner-image" src="../images/background/background.jpg">
            <h2 class="banner-text">TỦ TRƯNG BÀY</h2>
        </div>
        <div class="container">
            <div class="wrap-page flex flex-wrap flex-mobile">
                <div class="right">
                    <article class="details-page" style="margin-right: 50px;">
                        <div style="text-align: center;">
                            <strong>
                                <span style="color:#ff0000;">
                                    <span style="font-size:18px;">
                                        
                                    </span>
                                </span>
                            </strong>
                        </div>
                        <div style="text-align: justify;">
                            &nbsp;</div>
                        <div style="text-align: justify;">
                            <span style="font-size:18px;">
                                <span style="font-family:times new roman,times,serif;">
                                    <span style="color:#0000cd;">Cửa hàng nhôm kính Trung</span>
                                    chúng tôi sẽ mang đến những mẫu Tủ trưng bày đẹp, có mẫu mới, chất
                                    lượng tốt và sự hài
                                    lòng cao nhất cho khách hàng.&nbsp;
                                </span>
                            </span>
                        </div>
                        <div style="text-align: justify;">
                            &nbsp;</div>

                        <div class="popular-items">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="single-popular-items mb-50 text-center">
                                            <div class="service-horizontal--item__img" data-toggle="modal" data-target="#lightbox"  style="margin: 10px;">
                                                <img src="../images/data/mau-tu/tu-trung-bay/7.jpg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="single-popular-items mb-50 text-center">
                                            <div class="service-horizontal--item__img" data-toggle="modal" data-target="#lightbox"  style="margin: 10px;">
                                                <img src="../images/data/mau-tu/tu-trung-bay/8.jpg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="single-popular-items mb-50 text-center">
                                            <div class="service-horizontal--item__img" data-toggle="modal" data-target="#lightbox"  style="margin: 10px;">
                                                <img src="../images/data/mau-tu/tu-trung-bay/1.jpg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="single-popular-items mb-50 text-center">
                                            <div class="service-horizontal--item__img" data-toggle="modal" data-target="#lightbox"  style="margin: 10px;">
                                                <img src="../images/data/mau-tu/tu-trung-bay//2.jpg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="single-popular-items mb-50 text-center">
                                            <div class="service-horizontal--item__img" data-toggle="modal" data-target="#lightbox"  style="margin: 10px;">
                                                <img src="../images/data/mau-tu/tu-trung-bay/3.jpg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="single-popular-items mb-50 text-center">
                                            <div class="service-horizontal--item__img" data-toggle="modal" data-target="#lightbox"  style="margin: 10px;">
                                                <img src="../images/data/mau-tu/tu-trung-bay/4.jpg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="single-popular-items mb-50 text-center">
                                            <div class="service-horizontal--item__img" data-toggle="modal" data-target="#lightbox"  style="margin: 10px;">
                                                <img src="../images/data/mau-tu/tu-trung-bay/5.jpg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="single-popular-items mb-50 text-center">
                                            <div class="service-horizontal--item__img" data-toggle="modal" data-target="#lightbox"  style="margin: 10px;">
                                                <img src="../images/data/mau-tu/tu-trung-bay/6.jpg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="single-popular-items mb-50 text-center">
                                            <div class="service-horizontal--item__img" data-toggle="modal" data-target="#lightbox"  style="margin: 10px;">
                                                <img src="../images/data/mau-tu/tu-trung-bay/9.jpg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="single-popular-items mb-50 text-center">
                                            <div class="service-horizontal--item__img" data-toggle="modal" data-target="#lightbox"  style="margin: 10px;">
                                                <img src="../images/data/mau-tu/tu-trung-bay/10.jpg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="single-popular-items mb-50 text-center">
                                            <div class="service-horizontal--item__img" data-toggle="modal" data-target="#lightbox"  style="margin: 10px;">
                                                <img src="../images/data/mau-tu/tu-trung-bay/11.jpg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="single-popular-items mb-50 text-center">
                                            <div class="service-horizontal--item__img" data-toggle="modal" data-target="#lightbox"  style="margin: 10px;">
                                                <img src="../images/data/mau-tu/tu-trung-bay/12.jpg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="single-popular-items mb-50 text-center">
                                            <div class="service-horizontal--item__img" data-toggle="modal" data-target="#lightbox"  style="margin: 10px;">
                                                <img src="../images/data/mau-tu/tu-trung-bay/13.jpg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="single-popular-items mb-50 text-center">
                                            <div class="service-horizontal--item__img" data-toggle="modal" data-target="#lightbox"  style="margin: 10px;">
                                                <img src="../images/data/mau-tu/tu-trung-bay/14.jpg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="single-popular-items mb-50 text-center">
                                            <div class="service-horizontal--item__img" data-toggle="modal" data-target="#lightbox"  style="margin: 10px;">
                                                <img src="../images/data/mau-tu/tu-trung-bay/15.jpg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="single-popular-items mb-50 text-center">
                                            <div class="service-horizontal--item__img" data-toggle="modal" data-target="#lightbox"  style="margin: 10px;">
                                                <img src="../images/data/mau-tu/tu-trung-bay/16.jpg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="single-popular-items mb-50 text-center">
                                            <div class="service-horizontal--item__img" data-toggle="modal" data-target="#lightbox"  style="margin: 10px;">
                                                <img src="../images/data/mau-tu/tu-trung-bay/17.jpg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="single-popular-items mb-50 text-center">
                                            <div class="service-horizontal--item__img" data-toggle="modal" data-target="#lightbox"  style="margin: 10px;">
                                                <img src="../images/data/mau-tu/tu-trung-bay/18.jpg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="single-popular-items mb-50 text-center">
                                            <div class="service-horizontal--item__img" data-toggle="modal" data-target="#lightbox"  style="margin: 10px;">
                                                <img src="../images/data/mau-tu/tu-trung-bay/19.jpg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div style="text-align: center;">
                            &nbsp;</div>
                    </article>
                </div>
                {{> left-sidebar}}
            </div>
        </div>

    </div>
</main>