{{#section 'css'}}
<link rel="stylesheet" href="/stylesheets/detailpage.css">
{{/section}}

<main>
    <div class="container-content">
        <div class="banner">
            <img class="banner-image" src="images/background/background.jpg">
            <h2 class="banner-text">CỬA NHÔM</h2>
        </div>
        <div class="container">
                <div class="wrap-page flex flex-wrap flex-mobile">
                    <div class="right">
                        <article class="details-page" style="margin-right: 50px;">
                            <div style="text-align: center;">
                                <strong>
                                    <span style="color:#ff0000;">
                                        <span style="font-size:18px;">
                                            CÁC LOẠI CỬA
                                        </span> 
                                    </span>
                                </strong>
                            </div>
                            <div style="text-align: justify;">
                                &nbsp;</div>
                            <div style="text-align: justify;">
                                <span style="font-size:18px;"><span style="font-family:times new roman,times,serif;">Cửa
                                        nhôm kính có sự bền vững, khối lượng nhẹ hơn so với các chất liệu khác và đặc
                                        biệt là dễ kéo qua kéo lại. Ngoài chất liệu hợp kim nhôm ra, phần nhôm còn được
                                        mạ hoặc sơn tĩnh điện để bảo vệ khung nhôm tránh những tác nhân thời tiết đồng
                                        thời tạo thêm tính thẩm mỹ cao cho sản phẩm. Nhờ vậy mà nhôm được sử dụng rất
                                        nhiều trong kiến trúc cũng như nội ngoại thất cho những ngôi nhà. <span
                                            style="color:#0000cd;">Cửa hàng nhôm kính Trung</span> chúng tôi sẽ
                                        mang đến những mẫu cửa nhôm kính đẹp, có mẫu mới, chất lượng tốt và sự hài lòng
                                        cao nhất cho khách hàng.&nbsp;</span></span></div>
                            <div style="text-align: justify;">
                                &nbsp;</div>

                            <div class="popular-items">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-6">
                                            <div class="single-popular-items mb-50 text-center">
                                                <div class="popular-img popular-img-250">
                                                    <img src="images/data/cua-nhom/1.jpg" alt="">
                                                    <div class="img-cap">
                                                        <span>Cửa Phòng Khách</span>
                                                    </div>
                                                    <div class="favorit-items">
                                                        <a href="/cua-nhom/cua-phong-khach" class="btn">Xem Chi Tiết</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                       
                                        <div class="col-lg-6 col-md-6 col-sm-6">
                                            <div class="single-popular-items mb-50 text-center">
                                                <div class="popular-img popular-img-250">
                                                    <img src="images/data/cua-nhom/3.jpg" alt="">
                                                    <div class="img-cap">
                                                        <span>Cửa Sổ</span>
                                                    </div>
                                                    <div class="favorit-items">
                                                        <a href="cua-nhom/cua-so" class="btn">Xem Chi Tiết</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6">
                                            <div class="single-popular-items mb-50 text-center">
                                                <div class="popular-img popular-img-250">
                                                    <img src="images/data/cua-nhom/2.jpg" alt="">
                                                    <div class="img-cap">
                                                        <span>Cửa Nhôm Kính Cường Lực</span>
                                                    </div>
                                                    <div class="favorit-items">
                                                        <a href="/cua-nhom/cua-nhom-kinh-cuong-luc" class="btn">Xem Chi Tiết</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                         <div class="col-lg-6 col-md-6 col-sm-6">
                                            <div class="single-popular-items mb-50 text-center">
                                                <div class="popular-img popular-img-250">
                                                    <img src="images/data/cua-nhom/4.jpg" style="height: 250px;" alt="">
                                                    <div class="img-cap">
                                                        <span>Cửa Phòng Ngủ</span>
                                                    </div>
                                                    <div class="favorit-items">
                                                        <a href="/cua-nhom/cua-phong-ngu" class="btn">Xem Chi Tiết</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="text-align: center;">
                                &nbsp;</div>
                        </article>
                    </div>
                    {{> left-sidebar}}
                </div>
            </div>

    </div>
</main>