{{#section 'css'}}
<link rel="stylesheet" href="/stylesheets/detailpage.css">
{{/section}}

<main>
    <div class="container-content">
        <div class="banner">
            <img class="banner-image" src="images/background/background.jpg">
            <h2 class="banner-text">LIÊN HỆ</h2>
        </div>
        <div class="container">
            <div class="row" style="width= 80%">
                    <div class=" col-sm-12">
                        <div class="contact-info">
                            <ul>
                                <li>
                                    <a href="tel:0903375086" < i class="fa fa-phone"></i>
                                        Tel: 0903.375.086
                                    </a>
                                </li>
                                <li>
                                    <a href="tel:0387675256" < i class="fa fa-phone"></i>
                                        Tel 2: 0387.675.256
                                    </a>
                                </li>
                                <li><a href="https://www.google.com/maps/place/C%E1%BB%ADa+H%C3%A0ng+Nh%C3%B4m+Ki%E1%BA%BFng+Trung/@11.6553067,106.6031812,18.25z/data=!4m5!3m4!1s0x317354134d54169d:0xe734921031e81bd8!8m2!3d11.6544431!4d106.6056365"
                                        <i class="fa fa-map-marker"></i>
                                        Đường Hùng Vương, Phường An Lộc, Thị Xã Bình Long, Tỉnh Bình Phước
                                    </a>
                                </li>
                                <li>
                                    <div>
                                        <a
                                            href="https://www.facebook.com/C%E1%BB%ADa-H%C3%A0ng-Nh%C3%B4m-K%C3%ADnh-Trung-102153384947717"><i
                                                class="fab fa-facebook"></i> Cửa hàng nhôm kính Trung</a>

                                    </div>

                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class=" col-sm-12">
                        <div class="ggmap-group">
                            <div class="ggmap">
                                <iframe
                                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d976.8906594265603!2d106.60509737578516!3d11.654482503158826!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe734921031e81bd8!2zQ-G7rWEgSMOgbmcgTmjDtG0gS2nhur9uZyBUcnVuZw!5e0!3m2!1svi!2s!4v1598425320185!5m2!1svi!2s"
                                    width="100%" height="400px" frameborder="0" style="border:0;" allowfullscreen=""
                                    aria-hidden="false" tabindex="0">
                                </iframe>
                            </div>
                        </div>
                    </div>
                </div>
        </div>

    </div>
</main>